
@import '../node_modules/prismjs/themes/prism-tomorrow';
@import './assets/scss/app.scss';
@font-face {
    font-family: "yekanReg";
    src: url("../assets/fonts/Yekan_Bakh_Fanum_Regular.TTF") format("woff2");
    font-weight: normal;
    font-style: normal;
  }